.card-sleek-day {
    background: linear-gradient(45deg, #002FFF, #DAD5FA);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card-sleek-night {
    background: linear-gradient(45deg, #000000, #4149C1);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card-sleek-cloud-day {
    background: linear-gradient(45deg, #5467BB, #8E8E8E);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card-sleek-cloud-night {
    background: linear-gradient(45deg, #454545, #1700AC);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}